<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CLIPBOARD_WRITE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_storii"
        android:label="STORII"
        android:roundIcon="@mipmap/ic_storii_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoriiApp"
        tools:targetApi="31">
        <activity
            android:name=".screen.CommentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".screen.OrderCart"
            android:exported="false" />
        <activity
            android:name=".screen.ViewProfile"
            android:exported="false" />
        <activity
            android:name=".screen.UpdateUser"
            android:exported="false" />
        <activity
            android:name=".screen.ProductRecyclerView"
            android:exported="false" />
        <activity
            android:name=".screen.ProductDetail"
            android:exported="false" />
        <activity
            android:name=".screen.Login"
            android:exported="false" />
        <activity
            android:name=".screen.SignUp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".screen.UploadCategory"
            android:exported="false" />
        <activity
            android:name=".screen.UploadProduct"
            android:exported="false" />
        <activity
            android:name=".screen.Splash"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>